doctype html
html
  head
    title Una Vista con Pug
    style
  body
    div
      h1(class="title" data-id="3wef-sghdsf-gfdshjgelrw") Title
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem accusantium a non! Omnis, laboriosam tenetur possimus in asperiores dolorum aliquam quas placeat expedita natus quo aperiam? Aliquam eaque voluptatem laboriosam?
    script
