doctype html
html
  head
    title Una Vista con Pug
    style
  body
    //- - var title = 'Hola mundo'
    div
      //- h1= title
      h1(class="title" data-id="3wef-sghdsf-gfdshjgelrw")= title
      p= description
      if authenticated
        a(href="/messages") Ir mensajes
      //- else
      //-   a(href="/login") Iniciar sesion
      unless authenticated
        a(href="/login") Iniciar Sesión
    script
